<!-- templates/components/asciLogo.ejs -->
<h2 class="f-white"><pre>
        ##### ##
     ######  /###
    /#   /  /  ###
   /    /  /    ###
       /  /      ##
      ## ##      ##    /###        /###         /###
      ## ##      ##   / ###  /    /  ###  /    / ###  /
    /### ##      /   /   ###/    /    ###/    /   ###/
   / ### ##     /   ##    ##    ##     ##    ##    ##
      ## ######/    ##    ##    ##     ##    ##    ##
      ## ######     ##    ##    ##     ##    ##    ##
      ## ##         ##    ##    ##     ##    ##    ##
      ## ##         ##    /#    ##     ##    ##    ##
      ## ##          ####/ ##    ########     ######
 ##   ## ##           ###   ##     ### ###     ####
###   #  /                              ###
 ###    /                         ####   ###
  #####/                        /######  /#
    ###                        /     ###/
</pre></h2>