<!-- templates/components/pauseScreen.ejs -->
<div id="pauseScreen" class="fullScreen b-black center" style="opacity: 0.7; display: none">
    <h1 class="f-white">Pause</h1><br>
    <button id="resumeGameBtn" class="butn menu-btn f-white b-black" type="submit">Resume</button><br>
    <button id="settingsBtn" class="butn menu-btn f-white b-black" type="submit">Settings</button><br>
    <button id="exitGameBtn" class="butn menu-btn f-white b-black" type="submit">Exit</button><br>
</div>