<!-- templates/components/startScreen.ejs -->
<div id="startScreen" class="fullScreen b-black">
    <% include ../components/asciLogo.ejs %>
    <form id="loginForm" action="/login.html">
        <button id="loginButton" class="butn f-white b-black" type="submit">Login</button><br>
    </form>
</div>