<!-- templates/components/versionOverlay.ejs -->
<div id="versions">
    <span>Ping: <span id="ping"></span></span><br>
    <span>Server: <span id="connectionStatus">Offline</span></span><br>
    <span>Client version: <span id="clientVersion">/</span></span><br>
    <span>Server version: <span id="serverVersion">/</span></span><br>
</div>