<!DOCTYPE html>
<html>
    <head>
        <% include templates/components/head.ejs %>
        <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    </head>
    <body>
        <% include templates/components/game.ejs %>

        <script src="bundle.js"></script>
    </body>
</html>